* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body,
        html {
            height: 100%;
            background-image: url('../VIEW/backgroundd.jpg');
            background-size: cover;
            background-color: #000;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

        .bg-container {
            height: 100vh;
            width: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.4) 100%), url('../VIEW/backgroundd.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .branding h1 {
            font-family: 'Cinzel', serif;
            font-size: 60px;
            letter-spacing: 10px;
            line-height: 1;
        }

        .branding h2 {
            font-family: 'Cinzel', serif;
            font-size: 18px;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }

        .tagline {
            font-size: 10px;
            color: #ccc;
            margin-bottom: 40px;
        }

        .login-btn {
            width: 250px;
            padding: 12px;
            border-radius: 50px;
            border: none;
            background-color: #d1d1d1;
            font-family: 'Cinzel', serif;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;
        }

        .login-btn:hover {
            background-color: #fff;
        }