<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Mulat Voting System</title>
    <!-- Local System Fonts Only -->
    <link rel="stylesheet" href="../../CSS/login.css">
</head>

<body>
    <div class="bg-container">
        <div class="branding">
            <h1>MULAT</h1>
            <h2>VOTING SYSTEM</h2>
            <p class="tagline">Vote Wisely, Give Justice to the <br> Country and Society</p>
        </div>
        <form id="loginForm" style="display: flex; flex-direction: column; align-items: center; gap: 15px;">
            <input type="email" name="email" placeholder="Email" required
                style="width: 250px; padding: 12px; border-radius: 5px; border: none; font-family: 'Montserrat', sans-serif; color: #000;">
            <input type="password" name="password" placeholder="Password" required
                style="width: 250px; padding: 12px; border-radius: 5px; border: none; font-family: 'Montserrat', sans-serif; color: #000;">
            <button type="submit" id="loginBtn" class="login-btn" style="margin-top: 10px;">LOGIN</button>
        </form>
        <br>
        
    </div>

    <script src="../../JS/jquery-4.0.0.min.js"></script>
    <script src="../../JS/CONTROLLER(FRONTEND)/login.js"></script>
</body>

</html>
