<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOTERLISTS</title>
</head>
<body>
    <div class="card mt-4">
    <div class="card-header bg-dark text-white">
   <div class="voter-container">
    <h2>Registered Voters Management</h2>
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="voterListData">
            <!-- AJAX will inject <tr> tags here -->
            <tr><td colspan="4" style="text-align:center;">Loading voters...</td></tr>
        </tbody>
    </table>
</div>
<script src="../JS/jquery-4.0.0.min.js"></script>
    <script src="../JS/CONTROLLER(FRONTEND)/voterlist.js"></script>
</body>
</html>